.shopping-cart-table {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.shopping-cart-table .table {
  margin-bottom: 2rem;
  text-align: right;
}

.shopping-cart-table th, .shopping-cart-table td {
  vertical-align: middle;
}

.shopping-cart-table .total {
  text-align: right;
  font-size: 1.3rem;
  margin-right: 10px;
}

.shopping-cart-table button {
  margin-left: 5px;
}
